.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #dbdbdb;
    padding: 20px;
    color: white;
    min-height: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
    width: 250px;
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.orders-section {
    flex-grow: 1;
    margin-top: 10%;
}

.order-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}

p{
    color: black;
}

h2{
    color: black;
}

h3 {
    color: black;
}

h4 {
    color: black;
}